[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aimmo-game = {editable = true,path = "."}
docker = "*"
kubernetes = "*"
prometheus-client = "*"
aioresponses = "*"
grpcio = "*"
protobuf = "*"
google-api-python-client = "*"
idna-ssl = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
black = "==19.10b0"
httmock = "*"
asynctest = "*"
hypothesis = "*"
mock = "*"
pytest-aiohttp = "*"

[requires]
python_version = "3.7.7"
