[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aimmo-game = {path = ".",editable = true}
docker = "*"
kubernetes = "*"
prometheus-client = "*"
aioresponses = "*"
pytest-mock = "*"

[requires]
python_version = "3.7.5"

[dev-packages]
pydocstyle = "*"
"autopep8" = "*"
pytest = "*"
black = "*"

[pipenv]
allow_prereleases = true
